// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #252525;
$light-gray: #F4F4F4;
$beige: #fbe9e2;
$dark-beige: #efe9e6;
$ivoire: #F6F5F5;
$rouille: #E17A63;
