
// Specific CSS for your home-page
.home-content {
  margin-top: auto;
  margin-bottom: auto;
  height: 100vh;
  position: relative;
  width: 100vw;
  background: linear-gradient(0deg, rgba(248, 245, 245, 1) 0%, rgba(234,228,226,1) 100%);
}

.home-bio {
  margin-top: 15vh;
  margin-bottom: 10vh;
  position: relative;
  width: 100vw;
  background-color: rgba(248, 245, 245, 1);
  z-index: -1;
}

// SOME PROJECTS

.home-projects-details {
  padding-top: 10vh;
}

.some-projects {
  margin-right: 21%;
  margin-top: 4%;
}

.wid {
  margin-right: 14%;
  margin-top: 2%;
}

.home-step {
  line-height: 2.7;
  position: relative;
  left: 23%;
}

.circle-home {
  border: 1px solid $light-red;
  border-radius: 50%;
  background-color: transparent;
  height: 30vw;
  width: 30vw;
}

.circle-home-container {
  position: absolute;
  right: 11%;
}

.title-end-home {
  z-index: 1;
  position: relative;
  font-weight: 800;
  font-family: $serif;
  left: 10vw;
  max-width: 70vw;
  margin-top: -200px;
  font-size: 17vw;
  line-height: 0.9;
  margin-bottom: 200px;
}













// HOME SLIDE PROJECT

.slide-home {
  width: 100vw;
  position: relative;
}

.slide-home-wrapper {
  margin: auto;
  position: relative;
  margin-top: 7%;
}

// HOME NAME PROJECT
.home-projet-name-container {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 20%
}

.home-projet-name{
  font-size: 100px;
  font-weight: 900;
  font-family: Playfair Display;
}

//HOME UNDERLINE
.underline{
  width: 50px;
  height: 2px;
  background-color: $black;
}

.underline-name {
  z-index: 1;
  position: absolute;
  left: 0px;
}

.underline-category {
  margin-bottom: 10px;
}

// HOME CATEGORY PROJECT
.home-projet-category {
  position: absolute;
  bottom: 20%;
  right: 25%;
  font-weight: 600;
}

// HOME COVER
.home-projet-cover {
  text-align: center;
  margin-right: 20px;
}

 .image-cover-home {
  height: 650px;
}

@media(max-width: 950px) {
  .home-projet-name-container  {
    position: absolute;
    top: 100%;
    left: -2%;
    width: 100vw;
    text-align: center;
  }
  .home-projet-name {
    line-height: 100px;
    font-size: 68px;
  }
  .underline-name {
    margin-left: 45%;
    margin-top: 20px;
  }
  .home-projet-category  {
    display: none;
  }
  .line2, .line4 {
    display: none;
  }
  .image-cover-home {
    height: 500px;
  }
  .btn-scroll {
    display: none;
  }
  .slide-home-wrapper {
    margin-top: 20%;
  }
}

