<div class="contact-btn-area">
  <%= link_to "CONTACT ME", "#", class: "btn-main" %>
</div>

<div class="side-menu-area">
  <div class="btn-rotate">
    <%= link_to "ABOUT", "#", class: "btn-main" %>
  </div>
  <div class="btn-rotate">
    <%= link_to "PROCESS", "#", class: "btn-main" %>
  </div>
  <div class="btn-rotate">
    <%= link_to "WORK", "#", class: "btn-main" %>
  </div>
</div>
