.home-background {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1
}


// LINES BACKGROUND
.line-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.lines {
  transition: 3s background-color ease;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
}

.lines-black {
  background-color: $black;
}

.lines-red {
  background-color: $light-red;
}

.line1 {
  left: 9vw;
  z-index: 2;
}

.line2 {
  left: 33.34vw;
}

.line3 {
  left: 50vw;
}

.line4 {
  left: 66.67vw;
}

.line5 {
  left: 91vw;
  z-index: 2;
}

.lines-horizontal {
  transition: 3s background-color ease;
  position: absolute;
}


.line-h1 {
  left: 91vw;
  height: 1px;
  width: 10%;
  top: 10vh;
}

.line-h2 {
  left: 94.9vw;;
  height: 1px;
  width: 2%;
  top: 80vh;
}



.wrap-2{
    z-index:2;
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
    height:100vh;
    width:100vw;
    margin:auto;
    background: transparent;
}
canvas{
    width:100%;
    height:100vh;
}
