.home-background {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1
}

// CIRCLE BACKGROUND
.circle-container {
  top: 50%;
  height: 45vw;
  width: 45vw;
  transform: translate(-95%,-50%);
  position: absolute;
  left: 98%;
  z-index: 1;
}

.circle {
  border: 1px solid $dark-beige;
  border-radius: 50%;
  background-color: $ivoire;
}


// LINES BACKGROUND
.line-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.lines {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: $dark-beige;
  top: 0;
}

.line1 {
  left: 16.67vw;
}

.line2 {
  left: 33.34vw;
}

.line3 {
  left: 50vw;
}

.line4 {
  left: 66.67vw;
}

.line5 {
  left: 84vw;
}

.wrap-2{
    z-index:2;
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
    height:100vh;
    width:100vw;
    margin:auto;
    background: transparent;
}
canvas{
    width:100%;
    height:100vh;
}
