.home-content {
  margin-top: auto;
  margin-bottom: auto;
  height: 100vh;
  position: relative;
  width: 100vw;
  background-color: $ivoire;
}

.home-bio {
  margin-bottom: 30px;
  z-index: 40;
}

.home-background {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
