a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// .btn-menu {
//   text-decoration: none;
//   color: #252525;
//   border: solid 1px #252525;
//   padding: 15px;
//   position: absolute;
//   margin-top: 10px;
// }

.btn-main {
  transition: 0.8s;
  color: $black;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px;
    &:hover {
      color: $rouille;
      letter-spacing: 5px;
      transition: 0.9s;
      font-size: 11px;
    }
}
.btn-rotate {
  transform: rotate(-90deg);
}

.contact-btn-area {
  position: absolute;
  z-index: 3;
  right: 0;
  margin-right: 50px;
  margin-top: 15px;
}

.btn-home {
  position: absolute;
  z-index: 4;
  left: 0;
  margin-left: 38px;
  margin-top: 15px;
}


.btn-transparent {
  font-size: 34px;
  font-weight: 300px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $black;
  font-family: sans-serif;
  color: transparent;
  &:hover {
    color: transparent;
  }
}
