a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// .btn-menu {
//   text-decoration: none;
//   color: #252525;
//   border: solid 1px #252525;
//   padding: 15px;
//   position: absolute;
//   margin-top: 10px;
// }

.btn-main {
  transition: 2s;
  color: $black;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 17px;
  padding: 10px;
    &:hover {
    color: $rouille;
    letter-spacing: 4px;
    transition: 1.5s;
    font-size: 13px;
    }
}

.btn-main-color {
  color: $light-red;
}

.btn-rotate {
  transform: rotate(-90deg);
}

.btn-main-square {
  border: solid 0.5px $black;
}

.contact-btn-area {
  position: fixed;
  z-index: 3;
  right: 0;
  margin-right: 2.8vh;
  margin-top: 3.5vh;
}

.btn-home {
  position: fixed;
  z-index: 4;
  left: 0;
  margin-left: 38px;
  margin-top: 15px;
}


.btn-transparent {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: sans-serif;
  color: $black;
  &:hover {
    color: $black;
  }
}
