a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// .btn-menu {
//   text-decoration: none;
//   color: #252525;
//   border: solid 1px #252525;
//   padding: 15px;
//   position: absolute;
//   margin-top: 10px;
// }

.btn-main {
  transition: 0.8s;
  color: $black;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 10px;
    &:hover {
      color: $rouille;
      letter-spacing: 5px;
      transition: 0.9s;
      font-size: 12px;
    }
}
.btn-rotate {
  transform: rotate(-90deg);
}
