.profile-picture {
  width: 480px;
  height: 630px;
  object-fit: cover;
}


.image-block {
  text-align: center;
  z-index: 3;
}

.about-picture {
  object-fit: cover;
}

.home-cocktail-img {
  object-fit: cover;
  z-index: 2;
}

.home-students-img {
  object-fit: cover;
  z-index: 0;
  position: relative;
  bottom: 10vh;
}

.home-camera-img {
  object-fit: cover;
  z-index: 1;
  position: relative;
  bottom: 10vh;
}
