// HOME

.img-home {
  width: 41vw;
  height: 38vw;
  margin-top: 5vw;
}

.profile-picture {
  width: 480px;
  height: 630px;
  object-fit: cover;
}

.projet-section {
    margin-top: 14vh;
}

.img-section::after {
  content: '';
  display: block;
  clear: both;
}

.img-section {
  position: relative;
}

// HOME PROJETS IMG

.home-cocktail-img {
  object-fit: cover;
  position: absolute;
  left: 19vw;
  top: -16vw;
  width: 46vw;
  height: 30vw;
  z-index: 1;
  transform: translate3d(0px, 25.3136px, 0px);
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}

.home-students-img {
  object-fit: cover;
  float: right;
  right: 0;
  z-index: 0;
  height: 60vw;
  width: 50vw;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}

.home-camera-img {
  object-fit: cover;
  position: relative;
  bottom: 10vh;
  transform: translate3d(0px, -18.3052px, 0px);
  position: absolute;
  left: 9.01vw;
  top: 11vw;
  width: 50vw;
  height: 36vw;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}
