.scroll-container {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.arrow-scroll {
  bottom: 0;
  position: relative;
  left: 65%;
  height: 4vw;
  width: 0.13vw;
}

.circle-scroll {
  transition: 2s;
}


//home bio

.circle-scroll-more {
  transition: 2s;
  margin-right: 8vh;
  margin-top: 5vh;
}

.arrow-scroll-incline {
  position: absolute;
  right: 13vh;
  bottom: 3vh;
  transition: 2s;
}

.scroll-container-more:hover {
  .arrow-scroll-incline, .cta-arrow-projects {
    transform: translate(5px, -30%);
  }
}

// projects home

.cta-circle-projects {
  transition: 2s;
  margin-right: 8vh;
  margin-top: 5vh;
}

.cta-arrow-projects {
  position: absolute;
  right: 11vh;
  bottom: 3vh;
  transition: 2s;
}


