.scroll-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  transition: 1.5s;
  z-index: 3;
}

.arrow-scroll {
    position: absolute;
    left: 41%;
    bottom: 22px;
    transition: 1s;
}

.btn-scroll {
  font-size:13px;
    position: absolute;
    bottom: 55px;
    transition: 1.5s;
    left: -10px;
}

.circle-scroll {
  transition: 1.5s;
}

.scroll-container:hover {
  .arrow-scroll {
    transform: translate(0,15%);
    }
  .circle-scroll {
    transform: translate(0%,-15%);
  }
}
