.social-container {
  position: absolute;
  left: calc(100vw - 85px);
  z-index: 3;
  height: 200px;
  width: 100px;
  // background: $beige;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.list-social-icons {
  margin: 24% auto;
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  left: 11px;
}

.social-icon {
  margin-top: 18px;
  margin-bottom: 18px;
  color: $black;
  &:hover {
    transition: 0.3s;
    color: $rouille;
    text-decoration: none;
    }
}
